In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #importing decision tree classifier
from sklearn.model_selection import train_test_split #importing train_test_split function
from sklearn.metrics import accuracy_score#importing metrics for accuracy calculation (confusion matrix)
from sklearn.ensemble import BaggingClassifier#bagging combines the results of multipls models to get a generalized result. 
from sklearn.ensemble import AdaBoostClassifier #boosting method attempts to correct the errors of previous models.
from sklearn.metrics import classification_report, confusion_matrix

In [4]:
data=pd.read_csv(r'C:\Users\Mahesh\Desktop\data science\Asssignment\Decision Tree\Company_data.csv')

In [5]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [6]:
data.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [9]:
data['High'] = data.Sales.map(lambda x: 1 if x>8 else 0)

In [10]:
data['ShelveLoc']=data['ShelveLoc'].astype('category')

In [11]:
data['Urban']=data['Urban'].astype('category')

In [12]:
data['US']=data['US'].astype('category')

In [15]:
data.dtypes

Sales           float64
CompPrice         int64
Income            int64
Advertising       int64
Population        int64
Price             int64
ShelveLoc      category
Age               int64
Education         int64
Urban          category
US             category
High              int64
dtype: object

In [16]:
data['ShelveLoc']=data['ShelveLoc'].cat.codes

In [17]:
data['Urban']=data['Urban'].cat.codes

In [18]:
data['US']=data['US'].cat.codes

In [20]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0

In [22]:
feature_cols=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US']

In [24]:
x = data[feature_cols]
y = data.High

In [25]:
print(x)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US
0           17      1   1
1           10      1   1
2           12      1   1
3           14      1   1
4           13      1   0
..         ...    ...  ..
395         14      1   1
396         11      0   1
397         18      1   1
398         12      1   1
399         16      1   1

[400 rows x 10 columns]

In [26]:
print(y)

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: High, Length: 400, dtype: int64

In [27]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2,random_state=15)

In [28]:
dcmodel =  BaggingClassifier(DecisionTreeClassifier(max_depth = 6), random_state=15) #decision tree classifier object

In [29]:
dcmodel =  AdaBoostClassifier(DecisionTreeClassifier(max_depth = 6), random_state=15) #decision tree classifier object

In [31]:
dcmodel = dcmodel.fit(x_train,y_train) #train decision tree

In [32]:
y_predict = dcmodel.predict(x_test)

In [33]:
print("Accuracy : ", accuracy_score(y_test,y_predict)*100 )

Accuracy :  80.0

In [34]:
print(confusion_matrix(y_test,y_predict))

[[41  5]
 [11 23]]

In [35]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.79      0.89      0.84        46
           1       0.82      0.68      0.74        34

    accuracy                           0.80        80
   macro avg       0.80      0.78      0.79        80
weighted avg       0.80      0.80      0.80        80